:root {
  --simply-toast-height: 60px;
  --simply-toast-hide-delay: 3s;
  --simply-toast-show-duration: 0.3s;
  --simply-toast-hide-duration: 0.5s;
  --simply-toast-margin: 20px;
  --simply-toast-error-color: rgb(253, 143, 143);
  --simply-toats-warning-color: #FFFFCC;
  --simply-toast-info-color: rgb(140, 180, 250);
  --simply-toast-white: #FFF;
  --simply-toast-grey-50: #a8b4c0;
  --simply-toast-grey-80: #4d565c;
  --simply-toast-font-size: calc(1.1 * 1rem);
  --simply-toast-font-weight: 300;
  --simply-toast-line-height: calc(1.5 * var(--simply-toast-font-size));
  --simply-toast-color: var(--simplycode-grey-medium);
  --simply-toast-contrast: var(--simplycode-grey-medium);
  --simply-toast-background:var(--simplycode-white);
  --simply-toast-heading-weight: 900;
  --simply-toast-heading-multiplier: 1.1;
}

ul.simply-toasts,
ol.simply-toasts,
.simply-toasts {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 101;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 50%;
  min-width: 300px;
}
.simply-toast,
li.simply-toast {
  min-width: 300px;
  float: right;
  clear: both;
  margin-right: 0;
  margin-top: 60px;
  background-color: var(--simply-toast-grey-80);
  color: var(--simply-toast-white);
  display: block;
  border-left: 10px solid var(--simply-toast-grey-50);
  padding: 20px;
  border-radius: 2px;
}
.simply-toast-error,
li.simply-toast-error {
  border-color: var(--simply-toast-error-color);
}
.simply-toast-info,
li.simply-toast-info {
  border-color: var(--simply-toast-info-color);
}
.simply-toast-warning,
li.simply-toast-warning {
  border-color: var(--simply-toast-warning-color);
}

@keyframes simply-toast-show {
  0% {
    transform: scaleX(0);
    transform-origin: right;
    opacity: 0;
  }
  50% {
    transform: scaleX(0);
    transform-origin: right;
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: right;
    opacity: 1;
  }
}
@keyframes simply-toast-hide {
  0% {
    transform: scaleX(1);
    transform-origin: right;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
    opacity: 0;
  }
}
@keyframes simply-toast-move {
  0% {
    transform: translateY(-80px); /* toast-height + toast-margin */
  }
  100% {
    transform: translateY(0px);
  }
}
.simply-toast[data-state="new"] {
  animation: simply-toast-show var(--simply-toast-show-duration) forwards;
}
.simply-toast-autohide[data-state="new"] {
  animation: simply-toast-show var(--simply-toast-show-duration);
  animation-delay: 0s;
}
.simply-toast-autohide.simply-toast-animated[data-state="shown"] {
  animation: simply-toast-hide var(--simply-toast-hide-duration) forwards;
  animation-delay: calc(var(--simply-toast-hide-delay) - var(--simply-toast-show-duration));
}
.simply-toast-autohide:not(.simply-toast-animated)[data-state="shown"] {
  animation: simply-toast-move var(--simply-toast-show-duration), simply-toast-hide var(--simply-toast-hide-duration) forwards;
  animation-delay: 0s, var(--simply-toast-hide-delay);
}
