:root {
  --simplycode-highlight-dark: #f16623;
  --simplycode-highlight-light: #ff8003;
  --simplycode-highlight-color: #fff;
  --simplycode-highlight-background: linear-gradient( to left, var(--simplycode-highlight-light), var(--simplycode-highlight-dark) );

  --simplycode-support-dark: #444;
  --simplycode-support-light: #484848;
  --simplycode-support-color: #eee;
  --simplycode-support-background: linear-gradient( to left, var(--simplycode-support-light), var(--simplycode-support-dark) );

  --simplycode-grey-dark: #38393c;
  --simplycode-grey-medium: #7f8185;
  --simplycode-grey-light: #e9ebec;
  --simplycode-grey-dark: #38393c;
  --simplycode-black: #000;
  --simplycode-white: #fff;
  --simplycode-grey-background: var(--simplycode-grey-dark);

  --simplycode-font-family: 'Alegreya Sans', sans-serif;
  --simplycode-font-size: 14px;
  --simplycode-line-height: 1.5em;
  --simplycode-color: #7f8185;
  --simplycode-background: #333;
}

/* general styling on default elements */

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--simplycode-font-family);
  font-size: var(--simplycode-font-size);
  line-height: var(--simplycode-line-height);
  color: var(--simplycode-color); 
  background-color: var(--simplycode-background);
}
body {
  overflow-y: scroll;
}
body:last-child {
  margin-bottom: 1.5em;
}
h1 {
  font-size: 2em;
  font-weight: 300;
  line-height: 1.1em;
  margin: 0;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1.1em;
  margin: 0;
  margin-bottom: 0.5em;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: var(--simplycode-highlight-dark);
}
a:visited {
  color: var(--simplycode-highlight-dark);
}

/* custom styling for custom elements */

.simplycode-button,
a.simplycode-button {
  background: var(--simplycode-support-background);
  color: var(--simplycode-support-color);
  padding: 0.3em 0.5em;
  margin: 0 0.3em;
  border: 1px solid #ccc;
  text-decoration: none;
}

.simplycode-button:first-child {
  margin-left: 0;
}
.simplycode-button:last-child {
  margin-right: 0;
}
.simplycode-button.highlight {
  background: var(--simplycode-highlight-background);
  color: var(--simplycode-highlight-color);
}

.text-content {
  padding: 2.2375em;
  max-width: 50em;
}
.text-content *:first-child {
  margin-top: 0;
}

body {
  display: grid; 
  grid-template-columns: 210px 2fr 2fr; 
  grid-template-rows: 80px 2fr 2fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header header header"
    "nav pane pane"
    "nav pane pane"
}
body > header {
  grid-area: header;
}
body > nav {
  grid-area: nav;
}
body > div.main {
  grid-area: pane;
}
nav ul ul .simplycode-expand {
  display: none;
  padding: 0 1.7em;
}
nav ul {
  list-style: none;
  margin: 0 0.5em;
  padding: 0;
}
nav ul ul {
  padding: 0 1.7em;
}

nav > ul > li[data-simply-command=expandMenu][open]::before {
  content: "[-] ";
  font-family: monospace;
}
nav > ul > li[data-simply-command=expandMenu]::before {
  content: "[+] ";
  font-family: monospace;
}
.simplycode-part {
  margin-top: 1em;
}

.simplycode-part-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.simplycode-part-header .simplycode-options {
  text-align: right;
}
.simplycode-part .simplycode-tab {
  padding: 10px 5px;
  margin: 0;
  background-color: #151515;
  color: #ddd;
  border: 0;
  text-align: center;
  margin-right: 5px;
}
.simplycode-part .simplycode-tab input[type=radio] {
  display: none;
}
.simplycode-part .simplycode-tab input[type=radio]:checked ~ span {
  font-weight: bold;
  border-bottom: 2px solid var(--simplycode-support-background);
}
.simplycode-part .simplycode-editor-code {
  display: grid;
  grid-template-columns: 1fr;
}
.simplycode-part .simplycode-dual {
  display: grid;
  grid-template-areas: "left right" 
    "footer footer";
  grid-template-columns: 1fr 1fr;
}
.simplycode-part .simplycode-dual-preview {
  display: grid;
  grid-template-columns: auto 480px;
}
.simplycode-test-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.simplycode-test-header .simplycode-options {
  text-align: right;
}
.simplycode-component summary {
  font-size: 1.2em;
}
.simplycode-component {
  margin: 10px 0px;
}
.simplycode-header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  vertical-align: middle;
}
.simplycode-header .simplycode-controls {
  text-align: right;
}
.simplycode-header h1 span {
  white-space: nowrap;
}
.simplycode-component summary .simplycode-controls {
  display: none;
  margin-left: 1em;
}
.simplycode-component[open] summary .simplycode-controls {
  display: inline-block;
}
header {
  position: fixed;
  padding: 8px 10px 6px 10px;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #404040;
  border-bottom: 2px solid #2222;
  vertical-align: middle;
  z-index: 200;
}
header h1 {
  margin: 0;
}
header .simplycode-controls {
  padding-top: 5px;
  padding-right: 5px;
  text-align: right;
}
.simplycode-editor-code textarea {
  margin-top: -1px;
}