<details class="simplycode-component">
  <summary data-simply-command="initEditors" title="The Data API layer provides functions to load en store data types. Makes use of the Raw API and provides data for actions">
    <span data-simply-field="count.dataApi" data-simply-content="attributes" data-simply-attributes="data-count">
      Data API
    </span>
    <span class="simplycode-controls">
      <button class="simplycode-button" data-simply-command="addDataApiMethod">Add method</button>
    </span>
  </summary>
  <div class="simplycode-code-method" data-simply-list="component.parts.dataApi">
    <template>
      <div class="simplycode-part" data-simply-field="deleted" data-simply-content="attributes" data-simply-attributes="data-deleted">
        <div class="simplycode-part-header">
          <div class="simplycode-tabs">
            <input class="simplycode-tab" data-simply-field="method" required placeholder="API method name, eg getItemList">
          </div>
          <div class="simplycode-options">
			<button class="simplycode-button" draggable="true">Drag to move</button>
            <button class="simplycode-button" data-simply-field="deleted" data-simply-content="attributes" data-simply-attributes="data-deleted" data-simply-command="deleteEntry">Delete method</button>
          </div>
        </div>
        <div class="simplycode-editors">
          <div class="simplycode-editor-code">
            <textarea data-codemirror-mode="javascript" data-simply-field="code" placeholder="function() {...}"></textarea>
          </div>
        </div>
      </div>
    </template>
  </div>
</details>