<div class="simply-toolbar-title">
  <simply-render rel="logo"></simply-render>
</div>
<button data-simply-accesskey="Control+s" class="ds-button simply-toolbar-button" data-simply-command="saveComponent">
  <svg class="ds-icon ds-icon-feather">
    <use xlink:href="/assets/img/feather-sprite.svg#save">
    </use></svg>
  Save
</button>
<button class="ds-button simply-toolbar-button" data-simply-command="deleteComponent">
  <svg class="ds-icon ds-icon-feather">
    <use xlink:href="/assets/img/feather-sprite.svg#trash">
    </use></svg>
  Delete
</button>
<span class="simply-toolbar-push-right"></span>
<button class="ds-button simply-toolbar-button" data-simply-command="preview">
  <svg class="ds-icon ds-icon-feather">
    <use xlink:href="/assets/img/feather-sprite.svg#eye">
    </use></svg>
  Preview
</button>
<button disabled class="ds-button simply-toolbar-button">
  <svg class="ds-icon ds-icon-feather">
    <use xlink:href="/assets/img/feather-sprite.svg#check">
    </use></svg>
  Publish
</button>