<details class="simplycode-component">
  <summary data-simply-command="initEditors" title="The Raw API layer provides lower level functions to access an API. It handles things like authentication, connection, encoding and the likes. It exposes 'get', 'post' methods.">
    <span data-simply-field="count.rawApi" data-simply-content="attributes" data-simply-attributes="data-count">
      Raw API
    </span>
    <span class="simplycode-controls">
      <button class="simplycode-button" data-simply-command="addRawApiMethod">Add method</button>
    </span>
  </summary>
  <div class="simplycode-code-method" data-simply-list="component.parts.rawApi">
    <template>
      <div class="simplycode-part" data-simply-field="deleted" data-simply-content="attributes" data-simply-attributes="data-deleted">
        <div class="simplycode-part-header">
          <div class="simplycode-tabs">
            <input class="simplycode-tab" data-simply-field="method" required placeholder="API method name, eg getItemList">
          </div>
          <div class="simplycode-options">
            <button class="simplycode-button" draggable="true">Drag to move</button>
            <button class="simplycode-button" data-simply-field="deleted" data-simply-content="attributes" data-simply-attributes="data-deleted" data-simply-command="deleteEntry">Delete method</button>
          </div>
        </div>
        <div class="simplycode-editors">
          <div class="simplycode-editor-code">
            <textarea data-codemirror-mode="javascript" data-simply-field="code" placeholder="function() {...}"></textarea>
          </div>
        </div>
      </div>
    </template>
  </div>
</details>