<main>
  <div class="simplycode-header">
    <h1>Edit component: <span data-simply-field="component.id"></span></h1>
  </div>
  <form action="#">
    <simply-render rel="componentDescription"></simply-render>
    <simply-render rel="componentComponentTemplate"></simply-render>
    <simply-render rel="componentComponentCss"></simply-render>
    <simply-render rel="componentCommands"></simply-render>
    <simply-render rel="componentShortcuts"></simply-render>
    <simply-render rel="componentActions"></simply-render>
    <simply-render rel="componentDataApi"></simply-render>
    <simply-render rel="componentRoutes"></simply-render>
    <simply-render rel="componentTransformers"></simply-render>
    <simply-render rel="componentDataSources"></simply-render>
    <simply-render rel="componentSorters"></simply-render>
  </form>
</main>