<details class="simplycode-component">
  <summary data-simply-command="initEditors" title="Sorters are utility function that are used to sort arrays, used in datasources, actions.">
    <span data-simply-field="count.sorters" data-simply-content="attributes" data-simply-attributes="data-count">
      Sorters
    </span>
    <span class="simplycode-controls">
      <button class="simplycode-button" data-simply-command="addSorter">Add sorter</button>
    </span>
  </summary>
  <div class="simplycode-code-method" data-simply-list="component.parts.sorters">
    <template>
      <div class="simplycode-part" data-simply-field="deleted" data-simply-content="attributes" data-simply-attributes="data-deleted">
        <div class="simplycode-part-header">
          <div class="simplycode-tabs">
            <input class="simplycode-tab" data-simply-field="sorter" required placeholder="Sorter name, eg sortByDescription">
          </div>
          <div class="simplycode-options">
            <button class="simplycode-button" draggable="true">Drag to move</button>
            <button class="simplycode-button" data-simply-field="deleted" data-simply-content="attributes" data-simply-attributes="data-deleted" data-simply-command="deleteEntry">Delete sorter</button>
          </div>
        </div>
        <div class="simplycode-editors">
          <div class="simplycode-editor-code">
            <textarea data-codemirror-mode="javascript" data-simply-field="code" placeholder="function() {...}"></textarea>
          </div>
        </div>
      </div>
    </template>
  </div>
</details>