<details class="simplycode-component">
  <summary data-simply-command="initEditors" title="These are added to the top of the &lt;body&gt; of the HTML">
    <span data-simply-field="count.bodyHtml" data-simply-content="attributes" data-simply-attributes="data-count">
      Additional body HTML
    </span>
    <span class="simplycode-controls">
      <button class="simplycode-button" data-simply-command="addBodyHtml">Add body HTML</button>
    </span>
  </summary>
  <div class="simplycode-code-method" data-simply-list="component.parts.bodyHtml">
    <template>
      <div class="simplycode-part" data-simply-field="deleted" data-simply-content="attributes" data-simply-attributes="data-deleted">
        <div class="simplycode-part-header">
          <div class="simplycode-tabs">
            <input class="simplycode-tab" required data-simply-field="name" placeholder="Name">
          </div>
          <div class="simplycode-options">
			<button class="simplycode-button" draggable="true">Drag to move</button>
            <button class="simplycode-button" data-simply-field="deleted" data-simply-content="attributes" data-simply-attributes="data-deleted" data-simply-command="deleteEntry">Delete HTML</button>
          </div>
        </div>
        <div class="simplycode-editors">
          <div class="simplycode-editor-code">
            <textarea data-codemirror-mode="htmlmixed" data-simply-field="code" placeholder="<link rel='stylesheet'..."></textarea>
            <simply-render rel="componentHtmlValidator"></simply-render>
          </div>
        </div>
      </div>
    </template>
  </div>
</details>