main {
  margin-top: initial;
  margin-bottom: initial;
}

li {
  margin-left: initial;
}
a:link {
  color: var(--highlight-dark);
}
textarea {
  outline: initial;
}
:root {
  --simply-button-primary: var(--highlight-dark);
  --ds-heading-font: var(--font-family);
}

.simply-toolbar-title {
  width: 70px;
}