.simplycode-part {
    margin-top: 1em;
}
.simplycode-part-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.simplycode-part-header .simplycode-options {
    text-align: right;
}
.simplycode-part .simplycode-tab {
    padding: 10px 5px;
    margin: 0;
    background-color: #151515;
    color: #ddd;
    border: 0;
    text-align: center;
    margin-right: 5px;
}
.simplycode-part .simplycode-tab input[type=radio] {
    display: none;
}
.simplycode-part .simplycode-tab input[type=radio]:checked ~ span {
    font-weight: bold;
    border-bottom: 2px solid var(--support-background);
}
.simplycode-part .simplycode-editor-code {
    display: grid;
    grid-template-columns: 1fr;
}
.simplycode-part .simplycode-dual {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.simplycode-part .simplycode-dual-preview {
    display: grid;
    grid-template-columns: auto 480px;
}
.simplycode-test-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.simplycode-test-header .simplycode-options {
    text-align: right;
}
.simplycode-component summary {
    font-size: 1.2em;
}
.simplycode-component {
    margin: 10px 0px;
}
.simplycode-header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    vertical-align: middle;
}
.simplycode-header .simplycode-controls {
    text-align: right;
}
.simplycode-header h1 span {
    white-space: nowrap;
}
.simplycode-component summary .simplycode-controls {
    display: none;
    margin-left: 1em;
}
.simplycode-component[open] summary .simplycode-controls {
    display: inline-block;
}
.simplycode-editor-code textarea {
    margin-top: -1px;
}
