/* simplycode-ds-core-colors */
:root {
  --ds-primary: var(--simplycode-highlight-light);
  --ds-primary-dark: var(--simplycode-highlight-dark);
  --ds-primary-contrast: var(--simplycode-highlight-color);
  --ds-primary-light: var(--simplycode-highlight-light);
  --ds-primary-gradient: var(--simplycode-highlight-gradient);
  --ds-primary-bump: #b65cfc;
  --ds-primary-gradient-bump: linear-gradient( 180deg, var(--ds-primary-bump), var(--simplycode-highlight-light) 95%, var(--simplycode-highlight-dark) 100%);

  --ds-support: #06CC06;
  --ds-support-dark: #05BB05;
  --ds-support-light: #07DE07;
  --ds-support-contrast: #FFF;
  --ds-support-gradient: linear-gradient( to left, var(--ds-support-light), var(--ds-support-dark) );

  --ds-heading-font: var(--simplycode-font-family);
}
