<div class="simplycode-editor-qunit-tests">
  <div class="simplycode-tests" data-simply-list="tests">
    <template>
      <div class="simplycode-test" data-simply-field="deleted" data-simply-content="attributes" data-simply-attributes="data-deleted">
        <div class="simplycode-test-header">
          <div class="simplycode-tabs">
            <input class="simplycode-tab" data-simply-field="name" required placeholder="Test name">
          </div>
          <div class="simplycode-options">
            <button class="simplycode-button" draggable="true">Drag to move</button>
            <button class="simplycode-button" data-simply-field="deleted" data-simply-content="attributes" data-simply-attributes="data-deleted" data-simply-command="deleteEntry">Delete test</button>
          </div>
        </div>
        <div class="simplycode-test-editor">
          <textarea data-codemirror-mode="javascript" data-simply-field="test-code" placeholder="function() {...}"></textarea>
        </div>
      </div>
    </template>
  </div>
  <button class="simplycode-button" data-simply-command="addTest">Add test</button>
</div>