<Files settings.json>
	<Limit GET>
		Order Allow,Deny
		Deny from all
	</Limit>
</Files>
<Files data.json>
	Header set Cache-Control "max-age=0, public, must-revalidate"
</Files>
RewriteEngine on
#<Limit POST PUT DELETE>
#	RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
#
#	RewriteCond %{REQUEST_METHOD} PUT
#	RewriteRule ^(.*)$ simply-edit/store.php [L]
#
#	RewriteCond %{REQUEST_METHOD} DELETE
#	RewriteRule ^(.*)$ simply-edit/store.php [L]
#
#	RewriteCond %{QUERY_STRING} _method=(PUT|DELETE)
#	RewriteRule ^(.*)$ simply-edit/store.php [L]
#</Limit>
<Limit GET POST>
	RewriteRule ^logout$ simply-edit/logout.php [L]
	#RewriteRule ^login$ simply-edit/login.php [L]
</Limit>
<Limit GET>
    RewriteCond %{HTTP_USER_AGENT} Lynx|w3m|googlebot|baiduspider|facebookexternalhit|twitterbot|rogerbot|linkedinbot|embedly|quora\ link\ preview|showyoubot|outbrain|pinterest|slackbot|vkShare|Validator [NC,OR]
    RewriteCond %{QUERY_STRING} _escaped_fragment_

    # Only proxy the request to Prerender if it's a request for HTML
    RewriteRule ^(?!.*?(\.js|\.css|\.xml|\.less|\.png|\.jpg|\.jpeg|\.gif|\.pdf|\.doc|\.txt|\.ico|\.rss|\.zip|\.mp3|\.rar|\.exe|\.wmv|\.doc|\.avi|\.ppt|\.mpg|\.mpeg|\.tif|\.wav|\.mov|\.psd|\.ai|\.xls|\.mp4|\.m4a|\.swf|\.dat|\.dmg|\.iso|\.flv|\.m4v|\.torrent|\.ttf|\.woff))(.*) simply-edit/prerender.php [L]
</Limit>

Options +Indexes

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* simply-edit/router.php [L]