<details class="simplycode-component">
  <summary data-simply-command="initEditors" title="Transformers provide a last moment change to data, just before it is rendered. Use as a value of data-simply-transform on a data-simply-field">
    <span data-simply-field="count.transformers" data-simply-content="attributes" data-simply-attributes="data-count">
      Transformers
    </span>
    <span class="simplycode-controls">
      <button class="simplycode-button" data-simply-command="addTransformer">Add transformer</button>
    </span>
  </summary>
  <div class="simplycode-code-method" data-simply-list="component.parts.transformers">
    <template>
      <div class="simplycode-part" data-simply-field="deleted" data-simply-content="attributes" data-simply-attributes="data-deleted">
        <div class="simplycode-part-header">
          <div class="simplycode-tabs">
            <input class="simplycode-tab" data-simply-field="transformer" required placeholder="Transformer name, eg itemNameFromId">
            <label class="simplycode-tab" title="Render code transforms the data from what is stored into what the user sees. Extract takes the data as provided from the DOM and transforms it for storage">
              <input type="radio" checked name="transformerEditor" value="code" data-simply-field="editor">
              <span>Render/Extract</span>
            </label>
            <label class="simplycode-tab">
              <input type="radio" name="transformerEditor" value="tests" data-simply-field="editor">
              <span>Tests</span>
            </label>
          </div>
          <div class="simplycode-options">
            <button class="simplycode-button" draggable="true">Drag to move</button>
            <button class="simplycode-button" data-simply-field="deleted" data-simply-content="attributes" data-simply-attributes="data-deleted" data-simply-command="deleteEntry">Delete transformer</button>
          </div>
        </div>
        <div class="simplycode-editors" data-simply-field="editor" data-simply-content="template" data-simply-default-template="code">
          <template data-simply-template="code">
            <div class="simplycode-editor-code simplycode-dual">
              <textarea data-codemirror-mode="javascript" data-simply-field="render-code" placeholder="function() {...}"></textarea>
              <textarea data-codemirror-mode="javascript" data-simply-field="extract-code" placeholder="function() {...}"></textarea>
            </div>
          </template>
          <template data-simply-template="tests">
            <div class="simplycode-editor-code">
              <simply-render rel="componentQUnitTests"></simply-render>
            </div>
          </template>
        </div>
      </div>
    </template>
  </div>
</details>