[data-simply-list].simply-dragdrop-receiving {
  outline: 2px dashed var(--highlight-dark);
}
.simplycode-component [data-simply-list].simplycode-code-method.simply-empty:before {
  content: "Nothing here yet... add or drop code blocks here.";
  font-style: italic;
}
.simplycode-component [data-simply-list].simplycode-code-method:before {
  content: "Drop code blocks here.";
  font-style: italic;
}
[draggable] {
  cursor: move;
}