:root {
  --simply-toolbar-background: #404040;
  --simply-toolbar-background-secondary: #333;
  --simply-toolbar-font-color: #bbb;
  --simply-toolbar-color-primary: #ea5922;
  --simply-toolbar-color-secondary: #ddd;
  --simply-toolbar-color-support: #444;
  --simply-toolbar-focus-color: orange;
}