.simply-toolbar-button {
  height: var(--simply-toolbar-button-height);
  border-top: 1px solid transparent;
  border-bottom: 2px solid transparent;
  transition: background 0.2s ease;
  font-size: var(--simply-toolbar-button-font-size);
  letter-spacing: 0;
  font-family: var(--simply-toolbar-button-font);
  white-space: nowrap;
  user-select: none;
  vertical-align: top;
  min-width: var(--simply-toolbar-button-width);
  text-align: center;
  cursor: pointer;
  padding: 0 4px;
  text-transform: none;
  background: transparent;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  color: var(--simply-toolbar-button-color);
  margin: 0;
}
.simply-toolbar-button:hover {
  border-bottom: 2px solid var(--simply-toolbar-button-primary);
  box-shadow: none;
}
.simply-toolbar-button .ds-icon {
  height: 26px;
  font-size: 26px;
  padding: 0 4px;
  display: block;
  margin: 6px auto -14px;
  position: relative;
}
.simply-toolbar-button-expands:not(:focus)::after,
.simply-toolbar-button-expands:not(.ds-selected)::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 6px;
  left: 50%;
  margin-left: -3px;
  width: 0;
  border-top: 3px solid #888;
  border-bottom: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}
.simply-toolbar-button:focus,
.simply-toolbar-button.ds-selected {
  background-color: var(--ds-grey-80);
  border-left-color: var(--ds-black);
  border-top-color: var(--ds-black);
  border-right-color: var(--ds-grey-60);
}
.simply-toolbar-button[disabled] {
  background-color: transparent;
  color: var(--ds-grey-60);
}