<details class="sb-component">
  <summary title="Remote API URL to fetch this component from">
    Remote API URL
  </summary>
  <input placeholder="https://..." data-simply-field="component.remote.url">
  <select data-simply-field="component.remote.type">
    <option value="base-component">Base component</option>
    <option value="component">Component</option>
    <option value="page-frame">Page frame</option>
    <option value="page">Page</option>
    <option value="builder">Builder</option>
  </select>
  <input placeholder="component path" data-simply-field="component.remote.component"><br>
  <button class="sb-button" data-simply-command="syncRemoteComponent">Sync from remote</button>
</details>