<details class="simplycode-component">
  <summary data-simply-command="initEditors" title="Set component CSS - this CSS is globally available.">
    <span data-simply-field="count.componentCss" data-simply-content="attributes" data-simply-attributes="data-count">
      Component CSS collections
    </span>
    <span class="simplycode-controls">
      <button class="simplycode-button" data-simply-command="addComponentCss">Add CSS collection</button>
    </span>
  </summary>
  <div class="simplycode-code-method" data-simply-list="component.parts.componentCss">
    <template>
      <div class="simplycode-part" data-simply-field="deleted" data-simply-content="attributes" data-simply-attributes="data-deleted">
        <div class="simplycode-part-header">
          <div class="simplycode-tabs">
            <input class="simplycode-tab" data-simply-field="name" required placeholder="Name this CSS collection">
          </div>
          <div class="simplycode-options">
			<button class="simplycode-button" draggable="true">Drag to move</button>
            <button class="simplycode-button" data-simply-field="deleted" data-simply-content="attributes" data-simply-attributes="data-deleted" data-simply-command="deleteEntry">Delete CSS</button>
          </div>
        </div>
        <div class="simplycode-editors">
          <div class="simplycode-editor-code">
            <textarea data-codemirror-mode="css" data-simply-field="code" placeholder="div {...}"></textarea>
          </div>
        </div>
      </div>
    </template>
  </div>
</details>