html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}
main {
	padding: 0px 15px;
}
[data-simply-command] {
	cursor: pointer; /* Dear iOS, why don't you have a click event when the cursor is not a pointer? */
}
textarea {
	width: 100%;
	height: 120px;
}